* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    /* 1 rem=10px */
}

body {
    background-color: #f4c531;
}

.container {
    background-color: white;
    font-size: 1.6rem;
    padding: 8rem 6rem;
    width: 90%;
    position: absolute;
    top: 5rem;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 2rem;
    /* box-shadow: ; */
}

.search {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.5rem;

    input {
        font-size: 2rem;
        padding: .6rem;
        border: none;
        outline: none;
        border-bottom: .2rem solid #202030;
    }

    button {
        font-size: 1.8rem;
        background: #f4c531;
        font-weight: 600;
        border: none;
        border-radius: .3rem;
        cursor: pointer;

    }


}

.result {

    img {
        display: block;
        width: 40%;
        margin: 4rem auto;
    }

    .detail {
        background-color: #f4c531;
        position: absolute;
        margin: -7rem auto;
        text-align: center;
        padding: .8rem 1rem;
        width: 90%;


        h2 {
            font-size: 2rem;
            font-weight: 600;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 400;

        }
    }

    .recipe {

        position: absolute;
        background-color: white;
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        border-radius: .5rem;
        display: none;


        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding: 3rem 1.5rem;
            line-height: 2rem;

        }

        .hide {
            background-color: #f4c531;
            position: relative;
            border: none;
            top: 1.5rem;
            left: 95%;
            cursor: pointer;
            border-radius: .3rem;
            font-size: 2.5rem;
            padding: 1rem;


        }
    }

    .show {
        border: none;
        font-size: 2rem;
        position: relative;
        left: 85%;
        padding: 1rem 1.2rem;
        background-color: #f4c531;
        border-radius: .4rem;
        top: 2rem;
        font-weight: 600;
        cursor: pointer;
    }

    ul {
        font-size: 1.7rem;
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        gap: .7rem 1rem;
        padding: 1.5rem 0 0 1.5rem;
    }

    h3 {
        text-align: center;
        margin: 4rem auto;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 950px) {

    html {
        font-size: 55%;
    }

    .result {
        .detail {
            width: 85%;
        }
    }

    .hide {
        margin-right: 4.5rem;
    }
}

@media (min-width: 520px) and (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .result {
        .detail {
            width: 84%;
        }
    }

}

@media (min-width: 310px) and (max-width: 479px) {
    /* Styles for small phones */

    html {
        font-size: 42%;
    }

    .result {
        .detail {
            width: 85%;
        }
    }

    .container {
        padding: 8rem 4rem;

    }

    .result {
        img {
            width: 75%;

        }
    }

    .result {
        .show {
            position: relative;
            left: 70%;
        }

    }

    .result {
        .recipe {
            .hide {
                position: relative;
                top: 1.5rem;
                left: 90%;
            }
        }
    }

    .search {
        grid-template-columns: 200px 55px;

    }
}